@import 'tailwindcss';

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "cupcake";
    default: true;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans.ttf');
    font-display: swap;
}

:root {
    --theme-font-family-base: 'Plus Jakarta Sans';
    --theme-font-family-heading: 'Plus Jakarta Sans';
    font-family: "Plus Jakarta Sans";
}

@plugin '@tailwindcss/typography';